.footer {
  padding: $desktopMainPadding;
  padding-top: 47px;
  height: 160px;
  background-color: $black;
  display: flex;
  justify-content: space-between;

  .nav {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .logo__img {
    width: 150px;
  }

  .nav__logo {
    margin-bottom: 10px;
  }

  .social-copy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $darkGray;

    .nav__main-link {
      padding: 0.8em 0.5em;
    }
  }

  .copy {
    margin-top: 15px;
    font-size: 1rem;
  }
}
