// colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

// padding

$desktopMainPadding: 0 165px;

// @media

$mobile: 375px;
$desktop: 1440px;
